 <web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">  
  <display-name>Upload File</display-name>  
  <welcome-file-list>  
    <welcome-file>index.htm</welcome-file>  
  </welcome-file-list>  
  
  <servlet>  
   <description></description>  
   <display-name>uploadFile</display-name>  
   <servlet-name>uploadFile</servlet-name>  
   <servlet-class>upload.uploadFile</servlet-class>  
  </servlet>
    
  <servlet>  
  	<display-name>DownloadServlet</display-name>  
	<servlet-name>DownloadServlet</servlet-name>   
	<servlet-class>download.DownloadServlet</servlet-class> 
  </servlet>
  
   <servlet>  
  	<display-name>DownloadServlet1</display-name>  
	<servlet-name>DownloadServlet1</servlet-name>   
	<servlet-class>download.DownloadServlet1</servlet-class> 
  </servlet>
  
  <servlet-mapping>  
   <servlet-name>uploadFile</servlet-name>  
   <url-pattern>/uploadFile</url-pattern>  
  </servlet-mapping> 
  
  <servlet-mapping>  
   <servlet-name>DownloadServlet</servlet-name>  
   <url-pattern>/DownloadServlet</url-pattern>  
  </servlet-mapping> 
  
  <servlet-mapping>  
   <servlet-name>DownloadServlet1</servlet-name>  
   <url-pattern>/DownloadServlet1</url-pattern>  
  </servlet-mapping>  
 </web-app>  